h2{
    border: 2px solid blue;
    border-radius: 5px;
}

li{
    color:green;
    background-color: lightblue;
}

li:hover{
    color: white;
    background-color: blue;
}

div{
    background-color: lightcoral;
}