h2{
    border: 2px solid blue;
    border-radius: 5px;
}

li{
    color:green;
    background-color: lightblue;
}

li:hover{
    color: white;
    background-color: blue;
}

div{
    background-color: lightcoral;
}

tr{
  width: 50px;       /* Ancho deseado */
  height: 50px;      /* Mismo valor que el ancho */
  background-color: blue; /* Color del cuadrado */
  border: 5px solid black;
  border-radius: 5px;
}